body{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(95, 95, 114);
    line-height: 1.8;
}

hr{
    color: #efefef;
}

a{
    transition: .2s linear, border .2s;
    text-decoration: none;
    border-bottom: 2px dotted;
    color: #49bf9d;
}

a:hover{
    border-bottom-color:transparent ;
}

p{
    margin: 0 0 2em;
}

h1, h2, h3, h4, h5, h6{
    color: #787878;
    font-weight: normal;
    margin: 1em 0 ;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 16px;
}

h6{
    font-size: 10px;
}

sub,sup{
    font-size: 12px;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: 0.5em 0 0.5em 1.5em;
}

code{
    background: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
}

pre code{
    display: block;
}

ul, ol{
    margin: 0;
    padding: 0;
    padding-left: 1.1em;
}

.ul-alternate{
    list-style-type: none;
    padding-left: 0;
}

.ul-alternate li{
    border-bottom: 2px solid #d8d8d8;
    padding-left: 0;
}

.ul-alternate li:last-child{
    border: 0;
}

.ul-icon{
    list-style-type: none;
    padding-left: 0;
}

.ul-icon li{
    display: inline-block;
    font-size: 1.3em;
    color: #49bf9d;
}

li{
    padding-left: .5em;
}

input, label, textarea{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea{
    background: rgb(238, 236, 236);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
}

textarea{
    height: 7.5em;
}

input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none;
}

.button-default{
    background-color: #49bf9d;
    border: 2px solid #49bf9d;
    color: white;
    padding: .75em 1.5em;
    border-radius: 5px;
    font-size: .8em;
    display: inline-block;
    width: auto;
}

.button-default-stroke{
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.button-default-small{
    font-size: .65em;
}

.button-default-big{
    font-size: 1em;
}

.button-default-full{
    display: block;
    text-align: center;
}

.table{
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table td{
    padding: .75em;
}

.table th{
    background: rgb(240, 238, 238);
    padding: .75em;
}

.table tbody tr:first-child td{
    border-top: 2px solid #666;
}

.table tbody tr:last-child td{
    border-bottom: 2px solid #666;
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table tbody tr:nth-child(even) td{
    background: rgb(233, 233, 233);
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td{
    border: 1px solid #ddd
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title{
    font-size: 25px;
    line-height: 1.7;
    color: white;
    font-weight: normal;
    color: rgb(255, 255, 255, .5);
}

.main-header-title strong{
    color: white;
    font-weight: normal;
}

.main-header-link{
    color: inherit;
}

.main-header-link:hover{
    color: #49bf9d;
}

.main-content{
    width: 70%;
    margin-left: 30%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.row{
    overflow: auto;
}

.col2{
    width: 49%;
    float: left;
}

.col2:first-child{
    margin-right: 1%;
}

.col2:last-child{
    margin-left: 1%;
}

.col-23{
    width: 65%;
    float: left;
}
.col-13{
    width: 32%;
    margin-left: 3%;
    float: left;
}